body {
    background-color: rgb(210, 212, 216);
}

header {
    width: 100%;
    height: 150px;
    background-color: rgb(82, 129, 231);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: larger;
    padding-top: 40px; 
}
 
.card {
    background-color: white;
    color: black;
    margin-bottom: 4px;
    padding: 4px;
    width: 150px;
    height: 200px;
    border-radius: 40px;
    border-color: black;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    justify-content:center ;
}

.cardHeader {
    background-color: chocolate;
}

/*
.member {
    background-color: #008cff;
    color: white;
    height: 70px;
} */ 


/* PART TWO */

/* body {
    background-color: rgb(218, 188, 134);
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 70%;
} */